html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
/* NavBar */
.header {
}
.container {
}
.header-container {
  display: flex;
  flex-direction: row;
  background-color: #333;
  padding: 20px 40px 10px 40px;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  text-decoration: none;
  color: white;
}
.nav a:hover {
  color: burlywood;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 48px;
  color: white;
  list-style: none;
  align-items: center;
}
.form-search {
  background-color: white;
  padding: 5px 5px 5px 5px;
}
#search-input {
  outline: none;
  border: none;
}
.search-button {
  background-color: white;
  border: none;
}

main {
  display: flex;
  padding-top: 30px;
  background-color: #af9c9c;
  color: #fff;
}
.wrapper{
  padding-bottom: 20px;
  display: inline-block
}
.wrapper img {
  max-width: 320px;
  float:left;
  margin-right: 20px;
}

.wrapper2 img {
  max-width: 320px;
  float:left;
  margin-right: 20px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 0px;
  text-align: center;
  align-items: center;
}

footer li {
  display: inline-block;
  margin: 0 10px;
}

footer ul {
  align-items: center;
  text-align: center;
}

.footer-address {
  color: var(--text-color);
}

.social-link {
  display: block;
}

.social-link > svg {
  fill: var(--text-color);
}
